:root {
  --dark-text: #1f1534;
  --light-text: #7d7987;
}

body {
  margin: 0;

  font-family: "Open Sans", sans-serif;

  background: linear-gradient(
    180deg,
    rgba(227, 255, 248, 0) 82.08%,
    rgba(227, 255, 248, 0.38) 100%
  );

  min-height: 100vh;
}

.page {
  width: 1000px;
  margin: auto;
  padding-top: 65px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 60px;
}

ul {
  display: flex;
  gap: 48px;

  list-style: none;

  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-weight: 400;

  margin: 0;
  padding: 0;
}

ul li a {
  color: var(--light-text);
  text-decoration: none;
  opacity: 0.5;
}

ul li a:hover {
  color: var(--dark-text);
  font-weight: 700;
  opacity: 1;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section {
  width: 430px;
}

h1 {
  color: var(--dark-text);
  font-family: "Mulish", sans-serif;
  font-size: 49px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px;
}

h1 span {
  color: #89c5cc;
  font-weight: 700;
}

section p {
  color: var(--light-text);
  font-size: 14px;
  line-height: 28px;
}

button {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;

  margin-top: 40px;
  padding: 14px 32px;
  border: 0px;
  border-radius: 4px;
  background: #69b99d;

  color: #f9f9f9;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase; /* Transforma o texto em todo maiúsculo. */

  cursor: pointer; /* Habilita a "mãozinha" do cursor. */
}

button:hover {
  background: #4ea788;
}

footer {
  margin: 80px auto 30px;

  text-align: center;
  font-size: 14px;
  line-height: 28px;
}

footer a {
  color: var(--dark-text);
  font-weight: 700;
  text-decoration: none;
}

footer a:hover {
  color: #89c5cc;
}

#balls {
  position: fixed;
  bottom: 0;
  right: 0;
}
